<template>
	<require from="./docs.css"></require>
    <require from="../../../resources/value-converters/date-format"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Condition
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Condition
			</a>
		</h4>
	
		<!-- <table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.condition; cols: ['WorkDate','Notes']"> -->
			<div id="raptable">
	<table>
		<thead>
				
		
      	<tr>
					<tr>
						<th class="header"  width="125px">Date
						</th>
						<th class="header"  width="325px">Condition
						</th>
						<th class="header"  width="225px">
						
						</th>
					</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
			<tr repeat.for="condition of currentItem.condition" with.bind="condition">
					<td width="125px">
						<span show.bind="!condition.edit">${ConditionDate | dateFormat }</span>
						<input show.bind="condition.edit" class="form-control input-sm" disabled.bind="!condition.edit" type="date" value.bind="ConditionDate">
					</td>
					<td width="325px">
						<span show.bind="!condition.edit">${Condition}</span>

						<input show.bind="condition.edit" class="form-control input-sm" disabled.bind="!condition.edit" type="text" value.bind="Condition">						</td>

					<td width="225px">
					<!-- <button class="btn btn-primary" click.delegate="condition.edit=!condition.edit">${ !note.edit ? 'Update' : 'Done' }</button> -->
				 	<button class="btn btn-primary" click.delegate="saveitem(condition,$index)">${ !condition.edit ? 'Edit' : 'Save' }</button>

        	<button class="btn btn-danger" click.delegate="remove(condition,$index)">Delete</button> 
       
					</td>
	

			</tbody>
		</table>
		</div>
	</section>
</template>

