<template>
	<require from="./docs.css"></require>
    <require from="../../../resources/value-converters/date-format"></require>
	<!-- <section class="customer-orders au-animate"> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<!-- <i class="fa fa-folder-open"></i> Conservation (${currentItem.Title} ct:${currentItem.conservation.length}) -->
			<i class="fa fa-folder-open"></i> Conservation

			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Conservation
			</a>
		</h4>

		<!-- <table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.conservation; cols: ['WorkDate','Notes']"> -->
			<div id="raptable">
	<table>
		<thead>
				
	
      
      
      	<tr>
					<tr>
						<th class="header">Conserved By
						</th>
						<th class="header">Dates
						</th>
						<th class="header">Invoice No
						</th>
						<th class="header">Treatment
						</th>
						<th class="header">Cmd

						</th>
					</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
			
				<tr repeat.for="conservation of currentItem.conservation" with.bind="conservation">


					<td width="225px">
				

						<span show.bind="!conservation.edit">${conservation.ConservedBy}</span>

							<input show.bind="conservation.edit" class="form-control input-sm" disabled.bind="!conservation.edit" type="text" value.bind="ConservedBy">						</td>
				

						</div>



					</td>

					<td width="325px">
						<span show.bind="!conservation.edit">${Dates}</span>
						<input show.bind="conservation.edit" class="form-control input-sm" disabled.bind="!conservation.edit" type="text" value.bind="Dates">						</td>
					</td>


					<td width="325px">
						<span show.bind="!conservation.edit">${InvoiceNo}</span>

						<input show.bind="conservation.edit" class="form-control input-sm" disabled.bind="!conservation.edit" type="text" value.bind="InvoiceNo">						</td>
					</td>

					<td width="325px">
						<span show.bind="!conservation.edit">${Treatment}</span>
						<textarea disabled.bind="!conservation.edit" show.bind="conservation.edit" rows="3" cols="325" id="Treatment" class="form-control input-sm"
						 value.bind="Treatment"></textarea>

				

					</td>

					<td width="225px">
							<button class="btn btn-primary" click.delegate="saveitem(conservation,$index)">${ !conservation.edit ? 'Edit' : 'Save' }</button>

						<button class="btn btn-danger" click.delegate="remove(conservation,$index)">Delete</button>
					</td>
			</tbody>
		</table>
	
	</div>	
	</section>
</template>