<template>
	<require from="./docs.css"></require>
	<!-- <section class="customer-orders au-animate"> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Docs 
   <div class="row">
                <div >
                    <p> click button or drag file(s) to button</p>
                   <p> <input style='height:88' id='file' type="file" name="file"  files.bind="file" multiple>
                        </p>
                </div>

	<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDocs(file)">
				<i class="fa fa-plus"></i> Add Uploaded File
			</a>

            </div>
		</h4>

		<form>
			<!-- <table class="table-condensed table">
				<thead class="table-header-blue" data-sort="items.bind: currentItem.docs; cols: ['FILE_NAME','FILE_EXT']"> -->
				<div id="raptable">
	<table>
		<thead>
        	<tr>
						<th  >FILE_NAME		</th>
						<th >FILE_EXT			</th>

					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td></td>

					</tr>
				</tfoot>
				<tbody>
					<tr repeat.for="doc of currentItem.docs" with.bind="doc">
						<td >  
     			         <!-- <a  size='200' class="form-control  input-sm" target="_blank"
                 href="https://artbased.com/api/v1/getinvcodeimage/${currentItem.InventoryCode}/${doc.FILE_NAME}">
							${FILE_NAME}
							</a>
                  -->
                 		<a size='100' class="form-control  input-sm" target="_blank" href="https://artbased.com/api/v1/getonepdf/inv/${currentItem.InventoryCode}.jpg">
						<span>https://artbased.com/api/v1/getonepdf/inv/${currentItem.InventoryCode}.jpg</span>
						</a>
                 <!-- ${currentItem.InventoryCode}.jpg
                  </span>http://adjusters.markadjustment.com/docs/${currentItem.CLAIM_NO}/${doc.FILE_NAME}">
							${FILE_NAME} -->
							
						</td>
          	<td  ><input type="text" id="FILE_EXT" class="form-control  input-sm"
                value.bind="FILE_EXT"></td>

					</tr>
				</tbody>
			</table>
      </div>
		</form>

	</section>
</template>