<template>
	<!-- <require from="./docs.css"></require> -->
	<require from="../../../resources/value-converters/date-format"></require>
	<!-- <styzle>

  table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}
	</style> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore" style="height:400px">
		<h4>
			<i class="fa fa-folder-open"></i> Museum Loan
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Museum Loan
			</a>
		</h4>


		<!-- <table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.museumloan; cols: ['WorkDate','Notes']">
			 -->
		<div id="raptable">
			<table>
				<thead>

					<tr>
						<th class="header">Loan To </th>
						<th class="header">Ins Value </th>
						<th class="header">Ins Value Amt </th>
						<th class="header">Exh Title </th>
						<th class="header">Venues And Dates </th>
						<th class="header">Returned </th>
						<th class="header">Agreement</br>Form Signed MRG </th>
						<th class="header">Agreement</br>Countersigned </th>
						<th class="header">CofI </th>
						<th class="header">Artwork</br>Released </th>
						<th class="header">Notes </th>
						<th class="header">Catalog </th>
						<th class="header">Updated</br>Factsheet </th>


						<th class="header"> </th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
					<tr repeat.for="museumloan of currentItem.museumloan" with.bind="museumloan">
						<td>

							<div class="form-control  input-sm" if.bind="loantoname===undefined || loantoname===''">
								<a click.delegate="showModal( 'LoanTo',$index)">select_link </a>
							</div>
							<div class="form-control  input-sm" else>
								<a click.delegate="showModal('LoanTo',$index)">${museumloan.loantoname}</a>

							</div>

						</td>

						<td><input type="text" id="InsValue" class="form-control  input-sm" value.bind="museumloan.InsuranceValue"></td>
						<td><input type="text" id="InsValueAmt" class="form-control  input-sm" value.bind="museumloan.InsuranceValueAmt"></td>
						<td><input type="text" id="ExhTitle" class="form-control  input-sm" value.bind="museumloan.ExhibitionTitle"></td>
						<td><input type="text" id="VenuesAndDates" class="form-control  input-sm" value.bind="museumloan.ExhibitionVenuesDates"></td>
						<td><input type="checkbox" id="Returned" checked.bind="museumloan.Returned"></td>

						<td><input type="checkbox" id="AgreementFormSignedMRG" checked.bind="museumloan.AgreementFormSignedMRG"></td>
						<td><input type="checkbox" id="AgreementFormCountersigned" checked.bind="museumloan.AgreementFormCountersigned"></td>
						<td><input type="checkbox" id="CofI" checked.bind="museumloan.CofI"></td>
						<td><input type="date" id="ArtworkReleased" checked.bind="museumloan.ArtworkReleased  | dateFormat "></td>
						<td><input type="text" id="TransportNotes" class="form-control  input-sm" value.bind="museumloan.TransportNotes"></td>

						<td><input type="checkbox" id="Catalog" checked.bind="museumloan.Catalog"></td>
						<td><input type="checkbox" id="UpdatedFactSheet" checked.bind="museumloan.UpdatedFactSheet"></td>


						<td>
							<button class="btn btn-primary" click.delegate="saveitem(museumloan,$index)">${ !museumloan.edit ? 'Edit' : 'Save' }</button>

							<button class="btn btn-sm btn-danger" click.delegate="remove(museumloan,$index)">           Delete            </button>
						</td>


					</tr>
				</tbody>
			</table>
		</div>
	</section>
</template>
<!-- <td width="225px"> -->