<template>
	<require from="./docs.css"></require>
    <require from="../../../resources/value-converters/date-format"></require>
	<!-- <section class="customer-orders au-animate"> -->
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h3>
			<!-- <i class="fa fa-folder-open"></i> Conservation (${currentItem.Title} ct:${currentItem.conservation.length}) -->
	<i class="fa fa-folder-open"></i> Offering

		
		</h3>

		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.offerings; cols: ['ENTERED','REMIND','CANCELED','NOTES']">
				<tr>
					<th class="header">Client
					</th>
					<th class="header">Offer Date
					</th>
					<th class="header">Offer Amt
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>

				</tr>
			</tfoot>
			<tbody>
     
				<tr repeat.for="offering of currentItem.offerings" with.bind="offering">
					<td width="325px">
						<span show.bind="!offering.edit">${clientname}</span>
						<input show.bind="offering.edit" class="form-control input-sm" disabled.bind="!offering.edit" type="text" value.bind="clientname">
					</td>
					<td width="125px">
						<span show.bind="!offering.edit">${offerdate   | dateFormat }</span>
						<input show.bind="offering.edit" class="form-control input-sm" disabled.bind="!offering.edit" type="date" value.bind="offerdate">
					</td>
					<td width="125px">
						<span show.bind="!offering.edit">${offeramount}</span>
						<input show.bind="offering.edit" class="form-control input-sm" disabled.bind="!offering.edit" type="text" value.bind="offeramount">
					</td>

				</tr>
			</tbody>
		</table>


	</section>
</template>