	<template>
		<require from="./docs.css"></require> 
     <require from="../../../resources/value-converters/date-format"></require>
		<section class="docs full-height flex-column-1 overflow-y-auto ignore">
			<!-- <h4>
				<i class="fa fa-folder-open"></i> Photo
				<a slot="buttons-slot" class="btn btn-primary"  click.delegate="addDetail()">
					<i class="fa fa-plus"></i> Add Photo
				</a>
			</h4> -->
	<h4>
			<i class="fa fa-folder-open"></i> Photos for ${currentItem.InventoryCode} click button below or drag n drop files's over button
			<a slot="buttons-slot" class="btn btn-success" click.delegate="addDocs(file)">
				<i class="fa fa-plus"></i> Add Uploaded File
			</a>
     
      
      	<a slot="buttons-slot" class="btn btn-success" click.delegate="modalDocs()">
				<i class="fa fa-plus"></i> Popup Docs
			</a>

      	<a slot="buttons-slot">
          <input id="icon_prefix" type="text" value.bind="searchdoc & debounce" class="validate">
                            
			 <i class="material-icons prefix">search</i>
			</a>

      
      	<input style='height:88' id='file' type="file" name="file" files.bind="file" multiple>
		   
		</h4>

			<table class="table-condensed table">
				<thead class="table-header-blue" data-sort="items.bind: currentItem.photo; cols: ['WorkDate','Notes']">
					<tr>
           
						<th class="header">Photogpraher </th>
						<th class="header">Format </th>
						<th class="header">Date </th>
         		<th class="header">Note </th>
						<!-- <th class="header">PhotoTaken </th> -->

						<th class="header"> </th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
 
					<tr repeat.for="photo of currentItem.photo" with.bind="photo">
           

          
          	
						</td>
						<td width="250px">
					<select id="PhotographerID" class="form-control  input-sm" value.bind="PhotographerID"> 
                <option model.bind="null">Choose...</option> 
                <option repeat.for="opt of appService.codesPhotographers " model.bind="opt.ID">
                ${opt.Description} 
                </option> 
                </select>


              
               			<!-- <input click.delegate="showModal('PhotographerID',$index)" type="text" id="PhotographerID" class="form-control input-sm" value.bind="photographername"> -->
			
						</td>

						<td width="200px">
							<select id="PhotoFormatID" class="form-control  input-sm" value.bind="PhotoFormatID"> 
                <option model.bind="null">...</option> 
                <option repeat.for="opt of appService.codesPhotoFormat " model.bind="opt.ID">
                ${opt.Description} 
                </option> 
                </select>

						</td>

						<td width="120px"><input type="date" id="Date" class="form-control  input-sm" value.bind="PhotoDate | dateFormat"  ></td>

						<td width="320px"><input type="text" id="Note" class="form-control  input-sm" value.bind="PhotoMemo"></td>
						<!-- <td width="120px"><input type="text" id="PhotoTaken" class="form-control  input-sm" value.bind="photo.PhotoTaken"></td> -->


						<td width="225px">
							<!-- <button class="btn btn-primary" click.delegate="museumloan.edit=!museumloan.edit">${ !museumloan.edit ? 'Update' : 'Done' }</button> -->
						
            			<button class="btn btn-primary" click.delegate="saveitem(photo,$index)">${ !photo.edit ? 'Edit' : 'Save' }</button>

            
            	<button class="btn btn-sm btn-danger" click.delegate="remove(photo)">           Delete            </button>
						</td>


					</tr>
				</tbody>
			</table>

		</section>
	</template>