<!-- (${currentItem.Title} ct: ${currentItem.transport.length}) -->

<template>
	<require from="./docs.css"></require>
  <require from="../../../resources/value-converters/date-format"></require>
	<section class="docs full-height flex-column-1 overflow-y-auto ignore">
		<h4>
			<i class="fa fa-folder-open"></i> Transport 
			<a slot="buttons-slot" class="btn btn-primary" click.delegate="addDetail()">
				<i class="fa fa-plus"></i> Add Transport
			</a>

		</h4>

		<table class="table-condensed table">
			<thead class="table-header-blue" data-sort="items.bind: currentItem.transport; cols: ['TransportDate','TransportNotes']">
				<tr>
					<th class="header">Date
					</th>
					<!-- <th class="header">TransportTo
					</th>
					<th class="header">TransportFrom
					</th> -->
					<th class="header">Note
					</th>
					<th class="header">
					</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

				</tr>
			</tfoot>
			<tbody>
				<tr repeat.for="transport of currentItem.transport" with.bind="transport">

					<td width="90px">
						<span show.bind="!transport.edit">${TransportDate | dateFormat }</span>
						<input show.bind="transport.edit" class="form-control input-sm" disabled.bind="!transport.edit" type="date" value.bind="TransportDate | dateFormat ">
					</td>


					<td width="490px">
						<span show.bind="!transport.edit">${TransportNotes}</span>
						<input show.bind="transport.edit" class="form-control input-sm" disabled.bind="!transport.edit" type="textarea" rowspan="2"
						 value.bind="TransportNotes">
					</td>



					<td width="225px">
						<!-- <button class="btn btn-primary" click.delegate="transport.edit=!transport.edit">${ !transport.edit ? 'Update' : 'Done' }</button> -->
						<button class="btn btn-primary" click.delegate="saveitem(transport,$index)">${ !transport.edit ? 'Edit' : 'Save' }</button>

          	<button class="btn btn-sm btn-danger" click.delegate="remove(transport,$index)">           Delete            </button>
					</td>

				</tr>
			</tbody>
		</table>

	</section>
</template>