<template>
		<require from="../../resources/value-converters/stringify"></require>
	<ux-dialog>
		<ux-dialog-header class="modal-header modal-header-success">
			<div class="alert alert-danger">
				<h1 style="width:600px">${heading}</h1>
			</div>
		</ux-dialog-header>
		<ux-dialog-body>
			<div class="form-group flex-column-1">
				<h2> ${doc} </h2>
				<table class="table-condensed table">
					<thead class="table-header-blue">
					</thead>
					<tfoot>
						<tr>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<!-- <div class="Rtable Rtable--2cols">
							<div class=" Rtable-cell-30 Rtable-cell--highlight">
								<strong> id </strong> 
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">
								<input type="text" id="idx" class="form-control input-sm " value.bind="item.id">
							</div>
						</div> -->
						<div class="Rtable Rtable--2cols">
							<div class=" Rtable-cell-30 Rtable-cell--highlight">
								<strong> Title </strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">
								<textarea rows="2" cols="66" id="xNotes" wrap class="form-control input-sm" value.bind="item.ExhibitTitle"></textarea>
							</div>
						</div>

						<div class="Rtable Rtable--2cols">
							<div class=" Rtable-cell-30 Rtable-cell--highlight">
								<strong> Sponsor </strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">
								<textarea rows="2" cols="66" id="xExhibitSponser" wrap class="form-control input-sm" value.bind="item.ExhibitSponser"></textarea>
						</div>
						</div>
						<div class="Rtable Rtable--2cols">
							<div class="Rtable-cell-30 Rtable-cell--highlight">
								<strong>Location </strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">
								<select id="ExhibitLocation" class="form-control input-sm" value.bind="item.ExhibitLocation"> 
                      <option model.bind="null">Choose...</option> 
                     <option repeat.for="opt of appService.codesProvenanceLocation" model.bind="opt.id">
                       <!-- codesProvenanceLocation -->
                           ${opt.Description} 
                      </option> 
                    </select>

							</div>
						</div>


						<div class="Rtable Rtable--2cols">
							<div class=" Rtable-cell-30 Rtable-cell--highlight">
								<strong>	Dates   </strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">
								<input type="text" id="ExhibitDates" class="form-control input-sm au-target" value.bind="item.ExhibitDates">
							</div>
						</div>

						<!-- 1 -->
						<div class="Rtable Rtable--2cols">
							<div class=" Rtable-cell-30 Rtable-cell--highlight">
								<strong> Sort Date </strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">
								<input type="date" id="ExhibitSortDate" class="form-control input-sm au-target" value.bind="item.ExhibitSortDate">
							</div>
						</div>




						<div class="Rtable Rtable--2cols">
							<div class=" Rtable-cell-30 Rtable-cell--highlight">
								<strong>Traveled </strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">
								<input type="checkbox" id="Traveled" class="form-control input-sm" checked.bind="item.Traveled">
							</div>
						</div>

						<div class="Rtable Rtable--2cols">
							<div class=" Rtable-cell-30 Rtable-cell--highlight">
								<strong>Note </strong>
							</div>
							<div class="Rtable-cell-70  Rtable-cell--light">

								<textarea id="ExhibitMemo" cols="66" rows="10" class="form-control input-sm" wrap value.bind="item.ExhibitMemo">	</textarea>
							</div>
						</div>
          



						<!-- 1 -->
					</tbody>
				</table>
			</div>




			<hr>
		</ux-dialog-body>

		<ux-dialog-footer>
	<button click.trigger="populate()">populate test data</button>
			<button click.trigger="controller.cancel()">Cancel and Close </button>
			<button click.trigger="save()">Save Exhibition and Close </button>

		</ux-dialog-footer>
	</ux-dialog>
</template>