<template> 
	<div class="Rtable Rtable--2cols">
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> InsuredBy</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input click.delegate="showModal('InsuredBy')" type="text" id="InsuredBy" class="form-control input-sm" value.bind="currentItem.insuredbyname">
		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> InsuredAmt</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="InsuredAmt" class="form-control" value.bind="currentItem.InsuredAmt">
		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> TaxAmtPaid</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="TaxAmtPaid" class="form-control" value.bind="currentItem.TaxAmtPaid">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> TaxPrepaid</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="TaxPrepaid" class="form-control" value.bind="currentItem.TaxPrepaid">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> TaxAmtPaid</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="TaxAmtPaid" class="form-control" value.bind="currentItem.TaxAmtPaid">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> ReimbuseDateRequested</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="ReimbuseDateRequested" class="form-control" value.bind="currentItem.ReimbuseDateRequested">
		</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> ReimbuseDate</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="date" id="ReimbuseDate" class="form-control" value.bind="currentItem.ReimbuseDate">
		</div>




	</div>
	</div>
	</div>
</template>