<template>
  	<require from="../../../resources/value-converters/date-format"></require>
	<div class="Rtable Rtable--2cols">

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Sold To </strong>
		
      <!-- <strong> Sold >> SoldToID Make Purchase From the same ></strong> -->
		</div>

		<div class="Rtable-cell-70  Rtable-cell--light">
			<!-- <input click.delegate="showModal('SoldToID')" type="text" 
      id="SoldTo" class="form-control input-sm" value.bind="currentItem.soldtoname"> -->
	
  	<div if.bind="currentItem.soldtoname===undefined || currentItem.soldtoname===''">
							<a click.delegate="showModal( 'SoldToID')">select_link </a>
						</div>
						<div else>
							<a click.delegate="showModal('SoldToID')">${currentItem.soldtoname}</a>

						</div>
  
  	</div>

		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Date</strong>
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="date" id="SoldDate" class="form-control input-sm" value.bind="currentItem.SoldDate | dateFormat">
		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Price</strong> 
		</div>
		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="SoldPrice" class="form-control input-sm" value.bind="currentItem.SoldFor">
		</div>
		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Payment Method</strong>
		</div>

		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<select id="SoldPayment" class="form-control input-sm" value.bind="currentItem.SoldPayment"> 
                      <option model.bind="null">Choose...</option> 
                     <option repeat.for="opt of appService.codesPaymentMethod" model.bind="opt.id">
                           ${opt.Description} 
                      </option> 
                    </select>

			</td>

		</div>


		<div class="Rtable-cell-30 Rtable-cell--highlight">
			<strong> Note</strong>
		</div>

		<div class="Rtable-cell-70  Rtable-cell--highlight">
			<input type="text" id="SoldPaymentNo" class="form-control input-sm" value.bind="currentItem.SoldPaymentNo">
		</div>


	</div>
</template>