<template>
	<!-- <require from="../../value-converters/filter-by-code"></require> 
  https://codepen.io/johntom/pen/ypZVaM  this.currentItem.ownername this.currentItem.soldtoname
  -->
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="aurelia-kendoui-bridge/button/button"></require>
	<require from="./modal-form"></require>
	<require from="./flex.css"></require>
	<style>
		img.responsive-img,
		video.responsive-video {
			max-width: 100%;
			height: auto;
		}
	</style>
	<div class="modal fade" id="myModal" ref="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>One fine body…</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- /.modal form-->
	<modal-form ref="edit_division" record_id.bind="division.div_id" title="${division.div_id ? 'Edit_Division' : 'New_Division'}"
	 error.bind="error">
		<form>
			<div class="form-group">
				<label class="control-label" for="div_code">Division code2</label>
				<input type="text" class="form-control" ref="div_code" value.bind="division.div_code" />
			</div>
			<div class="form-group">
				<label class="control-label" for="div_name">Division name2</label>
				<input type="text" class="form-control" value.bind="division.div_name">
			</div>
			<div class="form-group">
				<label class="control-label" for="div_principal_p_id">Principal name2</label>
				<input type="text" class="form-control" value.bind="division.div_principal_name">
			</div>
		</form>
	</modal-form>
	<!-- /.modal form-->
	<section class="full-height flex-column-1 au-animate ignore">
		<div class="flex-column-1 overflow-y-auto">

			<form class="flex-column-1">
				<div id="top" class="flex-row-3">
					<div id="top-left" class="data-form overflow-y-auto flex-column-2">
						<!-- row1 -->
						<div class="flex-row-none">
							<div class="form-group flex-column-1">

								<div class="Rtable Rtable--2cols">


									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> bs modal</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<button ak-button click.delegate="showModalBS()">Show showModalBS</button>
										<button class="btn btn-success btn-large" click.delegate="showModalBS2()">New Item</button>
										<button class="btn btn-primary btn-large" click.delegate="showModalBS2(1)">Edit Item</button>
										<div class="form-group">
											<label for="my-input">#my-input</label>
											<input type="text" class="form-control" id="my-input">
										</div>
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> bs modal2</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<button class="btn btn-success btn-large" click.delegate="showModalBS3()">New Item</button>
										<button class="btn btn-primary btn-large" click.delegate="showModalBS3(1)">Edit Item</button>
										<div class="form-group">
											<label for="myauinput">${myauinput}</label>
											<input type="text" class="form-control" value.bind="myauinput">
										</div>
									</div> -->
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Artist</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<span> <strong> ${currentItem.artist.lastName}, ${currentItem.artist.firstName}  
                       <span show.bind="currentItem.artist.died===''">  (b.${currentItem.artist.yearofBirth}) </span>
										<span show.bind="currentItem.artist.died!==''"> (${currentItem.artist.yearofBirth} - ${currentItem.artist.died})</span>
										</strong>
										<span>
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> InventoryCode</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="InventoryCode" class="form-control input-sm" value.bind="currentItem.InventoryCode">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> OwnedStatus</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select id="OwnedBy" class="form-control" value.bind="currentItem.OwnedBy"> 
                      <option model.bind="null">Choose...</option> 
                      <option repeat.for="opt of appService.codesOwnership" model.bind="opt.id">
                          ${opt.Description} 
                      </option> 
                      </select>
									</div>

									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Owner</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select id="OwnerID" class="form-control" value.bind='currentItem.OwnerID'> 
                    <option model.bind="null">Choose...</option> 
                    <option repeat.for="opt of appService.orgsList" model.bind="opt._id">
                        ${opt.OrgName} 
                    </option> 
                    </select>
									</div>
                   -->
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Owner</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<!-- <input click.delegate="showModal('OwnerID')" type="text" id="OwnerID" class="form-control input-sm" value.bind="currentItem.OwnerID"> -->
										<input click.delegate="showModal('OwnerID')" type="text" id="OwnerID" class="form-control input-sm" value.bind="currentItem.ownername">

									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Title</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Title" class="form-control input-sm" value.bind="currentItem.Title">
									</div>
							
              


									<!--   value.two
									<!--   value.two-way= change.delegate="selectChangedMS(currentItem.MediumSupportobj) -->
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> MediumSupport</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select ref="MediumSupport11" id="MediumSupport11" class="form-control input-sm" value.bind="currentItem.MediumSupportobj"> 
                      <option model.bind="null">Choose...</option> 
                       <option ref="MediumSupport21" repeat.for="opt of appService.codesListMediumSupport" model.bind="opt">
                        ${opt.Description} 
                      </option> 
                    </select>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Condition</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Condition" class="form-control input-sm" value.bind="currentItem.Condition">
									</div>

							


              


								</div>
							</div>
							<!-- end <div class="Rtable Rtable--7cols"> -->

							<!-- demo middle col -->
							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">
									
                   <!-- <label for="dd">dd</label>
                
                <div class="Rtable-cell-30 Rtable-cell--highlight">
                  <strong> poeple </strong>
                  <button ak-button click.delegate="showKeywords()">Show keywords</button>

                </div>
                <div class="Rtable-cell-70 Rtable-cell--highlight ">
   <ak-multiselect ref='m1' k-value.two-way="dd" k-auto-bind.bind="false" >
       
                  <select multiple="multiple" data-placeholder="Select popple...">
                                      <option repeat.for="opt of people" model.bind="opt">
                                        ${opt} 
                                      </option> 
                                    </select>
                  </ak-multiselect>
                 </div> -->


                  
                  <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Keywords </strong>
										<button ak-button click.delegate="showKeywords()">Show keywords</button>

									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">

										<ak-multiselect k-value.two-way="currentItem.keywords">
											<select multiple="multiple" data-placeholder="Select keywords...">
                       <option repeat.for="opt of appService.codesGenre" model.bind="opt.Description">
                        ${opt.Description} 
                      </option> 
                    </select>
										</ak-multiselect>
										<!-- <button ak-button click.delegate="showKeywords()">Show keywords</button> -->
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong>(Alt/ID) Desc.</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input click.delegate="showModal('Description')" type="text" id="Description" class="form-control input-sm" value.bind="currentItem.Description">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> ArtValue(retail)</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="ArtValue" class="form-control input-sm" value.bind="currentItem.ArtValue">
									</div>

									<!-- move to notes<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Comment</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input click.delegate="showModal('Comment')" type="text" id="Comment" class="form-control input-sm" value.bind="currentItem.Comment">
									</div> -->



									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> CurrentLocation</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select id="CurrentLocation" class="form-control input-sm" value.bind="currentItem.CurrentLocation"> 
                      <option model.bind="null">Choose...</option> 
                       <option repeat.for="opt of appService.codesListLocation" model.bind="opt.id">
                        ${opt.Description} 
                      </option> 
                    </select>
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> MRGLocation</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select id="MRGLocation" class="form-control input-sm" value.bind="currentItem.MRGLocation"> 
                      <option model.bind="null">Choose...</option> 
                       <option repeat.for="opt of appService.codesListLocation" model.bind="opt.id">
                        ${opt.Description} 
                      </option> 
                    </select>
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Bin</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Bin" class="form-control input-sm" value.bind="currentItem.Bin">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> CatalogueNo</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="CatalogueNo" class="form-control input-sm" value.bind="currentItem.CatalogueNo">
									</div>

								</div>
							</div>

								<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Sold </strong>
									</div>
									<div class="Rtable-cell-70 Rtable-cell--highlight ">
										<div class="form-group"> ${search.selectedSoldId}
											<label repeat.for="sold of searchsold">
                        <input type="radio" name="group1"
                              model.bind="sold.id" checked.bind="search.selectedSoldId">
                      ${sold.name} &nbsp;
                      </label>
										</div>
									</div>
						
									<!-- <select id="SoldTo" class="form-control" value.bind='currentItem.SoldTo'> 
                    <option model.bind="null">Choose...</option> 
                    <option repeat.for="opt of appService.orgsList" model.bind="opt._id">
                        ${opt.OrgName} 
                    </option> 
                    </select> -->
									<!-- <input click.delegate="showModal('SoldTo')" type="text" id="SoldTo" class="form-control input-sm" value.bind="currentItem.SoldTo"> -->
<!-- 
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> SoldTo</strong>
									</div>

									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input click.delegate="showModal('SoldTo')" type="text" id="SoldTo" class="form-control input-sm" value.bind="currentItem.soldtoname">

									</div> -->

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> InvYear</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="InvYear" class="form-control input-sm" value.bind="currentItem.InvYear">
									</div>
							
              	<!-- /////////jj7  -->
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Edition</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="Edition" class="form-control input-sm" value.bind="currentItem.Edition">
									</div>
									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> EditionComment</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="EditionComment" class="form-control input-sm" value.bind="currentItem.EditionComment">
									</div>
              
              		


                  <!-- only for new rec -->
									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Artist</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<select id="ArtistID" class="form-control input-sm" value.bind="currentItem.ArtistID"> 
                    <option model.bind="null">Choose...</option> 
                    <option repeat.for="opt of appService.artistList" model.bind="opt.fid">
                        ${opt.lastName} ,  ${opt.firstName}
                    </option> 
                    </select>
									</div> -->

									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> ArtistBorn</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="ArtistBorn" class="form-control input-sm" value.bind="currentItem.artist.yearofBirth">
									</div>


									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> ArtistDied</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="ArtistDied" class="form-control input-sm" value.bind="currentItem.artist.died">
									</div> -->

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> RetailPrice</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="RetailPrice" class="form-control input-sm" value.bind="currentItem.RetailPrice">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Inscribed</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<!-- <input type="text" id="Inscribed" class="form-control input-sm" value.bind="currentItem.Inscribed"> -->
										<input click.delegate="showModal('Inscribed')" type="text" id="Inscribed" class="form-control input-sm" value.bind="currentItem.Inscribed">
								
                
                	</div>
								</div>
								<!-- 2nd -->
							</div>
						</div>
						<!--end <div class="form-group flex-column-4"> -->
						<!--------------spot---------------->
						<!-- row1 end none -->
						<!-- --------------------------------------------------------------------- -->
						<!--dim table -->
						<!-- flex table  dim-->
						<!-- real data rtable-->
						<div class="flex-row-none">
							<div class="form-group flex-column-1">
								<div class="Rtable Rtable--7cols">
									<div class="Rtable-cell Rtable-cell--alert">Dimensions</div>
									<div class="Rtable-cell Rtable-cell--highlight">Height</div>
									<div class="Rtable-cell Rtable-cell--highlight">x/16</div>
									<div class="Rtable-cell Rtable-cell--highlight">Depth</div>
									<div class="Rtable-cell Rtable-cell--highlight">x/16</div>
									<div class="Rtable-cell Rtable-cell--highlight">Width</div>
									<div class="Rtable-cell Rtable-cell--highlight">x/16</div>
									<div class="Rtable-cell Rtable-cell--highlight">
										<strong>Unframed</strong>
									</div>
									<div class="Rtable-cell">
										<input type="text" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.UnframedHeight">
									</div>
									<div class="Rtable-cell">
										<select style="width: 65px" value.bind="currentItem.UnframedHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="text" id="UnframedWidth" class="form-control input-sm" value.bind="currentItem.UnframedWidth">
									</div>
									<div class="Rtable-cell">
										<select style="width: 65px" value.bind="currentItem.UnframedWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="text" id="UnframedDepth" class="form-control input-sm" value.bind="currentItem.UnframedDepth">
									</div>
									<div class="Rtable-cell">
										<select style="width: 65px" value.bind="currentItem.UnframedDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<!-- end unframed -->
									<!-- begin sight -->
									<div class="Rtable-cell Rtable-cell--highlight">
										<strong>Sight</strong>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="sightHeight" class="form-control input-sm" value.bind="currentItem.sightHeight">
									</div>
									<div class="Rtable-cell">
										<select style="width: 65px" value.bind="currentItem.sightHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="sightWidth" class="form-control input-sm" value.bind="currentItem.sightWidth">
									</div>
									<div class="Rtable-cell">
										<select style="width: 65px" value.bind="currentItem.sightWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="sightDepth" class="form-control input-sm" value.bind="currentItem.sightDepth">
									</div>
									<div class="Rtable-cell">
										<select style="width: 65px" value.bind="currentItem.sightDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<!-- end sight -->

									<!--image  -->
									<div class="Rtable-cell Rtable-cell--highlight">
										<strong>image</strong>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="imageHeight" class="form-control input-sm" value.bind="currentItem.imageHeight">

									</div>
									<div class="Rtable-cell">

										<select style="width: 65px" value.bind="currentItem.imageHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="imageWidth" class="form-control input-sm" value.bind="currentItem.imageWidth">

									</div>
									<div class="Rtable-cell">

										<select style="width: 65px" value.bind="currentItem.imageWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="imageDepth" class="form-control input-sm" value.bind="currentItem.imageDepth">

									</div>
									<div class="Rtable-cell">

										<select style="width: 65px" value.bind="currentItem.imageDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<!-- end image -->
									<!-- framed -->
									<div class="Rtable-cell Rtable-cell--highlight">
										<strong>framed</strong>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="framedHeight" class="form-control input-sm" value.bind="currentItem.framedHeight">

									</div>
									<div class="Rtable-cell">

										<select style="width: 65px" value.bind="currentItem.framedHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="framedWidth" class="form-control input-sm" value.bind="currentItem.framedWidth">

									</div>
									<div class="Rtable-cell">

										<select style="width: 65px" value.bind="currentItem.framedWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<div class="Rtable-cell">
										<input type="number" id="framedDepth" class="form-control input-sm" value.bind="currentItem.framedDepth">

									</div>
									<div class="Rtable-cell">

										<select style="width: 65px" value.bind="currentItem.framedDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
									</div>
									<!-- end framed -->
								</div>
								<!-- end <div class="Rtable Rtable--7cols"> -->
							</div>
							<!--end <div class="form-group flex-column-4"> -->

							<div class="form-group flex-column-1 margin-left-10">
								<div class="Rtable Rtable--2cols">


									<!-- <div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Signed?</strong>
										<input type="checkbox" id="Signed" checked.bind="currentItem.Signed">
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="SignedLocText" class="form-control input-sm" value.bind="currentItem.SignedLocText">
									</div>

									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong> Dated?</strong>
                    		<input type="checkbox" id="Dated" checked.bind="currentItem.Dated">
									</div>
									
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										<input type="text" id="DatedLocation" class="form-control input-sm" value.bind="currentItem.DatedLocation">
									</div> -->


		<!-- <div class="Rtable-cell Rtable-cell--highlight">
										<strong> Signed?</strong>
										<input type="checkbox" id="Signed" checked.bind="currentItem.Signed">
									</div>
						
									<div class="Rtable-cell Rtable-cell--highlight">
										<strong> Dated?</strong>
                    		<input type="checkbox" id="Dated" checked.bind="currentItem.Dated">
									</div>
									




									<div class="Rtable-cell-30 Rtable-cell--highlight">
										<strong>Added/modified</strong>
									</div>
									<div class="Rtable-cell-70  Rtable-cell--highlight">
										${currentItem.DateAdded} / ${currentItem.ModifiedDate}
									</div> -->


                  <div class="Rtable Rtable--4cols">
                    <div class="Rtable-cell Rtable-cell--highlight">
                      <strong> Signed?</strong>
                      <input type="checkbox" id="Signed" checked.bind="currentItem.Signed">
                    </div>

                    <div class="Rtable-cell Rtable-cell--highlight">
                      <strong> Dated?</strong>
                      <input type="checkbox" id="Dated" checked.bind="currentItem.Dated">
                    </div>
                  
                


                    <div class="Rtable-cell Rtable-cell--highlight">
                      <strong>Added/modified</strong>
                    </div>
                    <div class="Rtable-cell Rtable-cell--highlight">
                      ${currentItem.DateAdded} / ${currentItem.ModifiedDate}
                    </div>
                  
                  </div>


								</div>
							</div>

						</div>
						<!-- flex row none -->
					</div>
					<!--top left  -->



					<!-- middle and top right 	<!-- Image here...  -->
					<!-- <div id="top-middle" class="flex-column-none data-form-image">
					
						<img class="responsive-img" max-width="300px" src="http://74.114.164.24/api/v1/getonePdf/inv/${currentItem.InventoryCode}.jpg"
						 click.delegate="showModal()">
					</div>
					<div id="top-right" class="flex-column-1">
						<div id="data-form-ext" class="flex-column-1">
							<div id="data-form-one-to-one-tabs" class="flex-row-none flex-wrap">
								<div repeat.for="tab of appService.dataFormOneToOneTabs" class="form-tab ${tab.isSelected ? 'form-tab-selected' : ''}">
									<div class="form-tab-box" click.delegate="selectOneToOneTab(tab)">
										<span>${tab.name}</span>
									</div>
								</div>
							</div>
							<div class="data-form flex-row-1" style="background: darkgray;">
								<compose view-model.bind="currentOneToOneTab.viewModel"></compose>
							</div>
						</div>
					</div> -->


					<div id="top-right" class="flex-column-none data-form-image">
						<img class="responsive-img" max-width="250px" src="http://74.114.164.24/api/v1/getonePdf/inv/${currentItem.InventoryCode}.jpg"
						 click.delegate="showModalImg()">

					</div>
					<!-- end middle and top right -->


				</div>

				<div id="bottom-left" class="flex-row-3">
					<div id="data-form-ext" class="flex-column-1">
						<div id="data-form-one-to-many-tabs" class="flex-row-none flex-wrap">
							<div repeat.for="tab of appService.dataFormOneToManyTabs" class="tab tab-top ${tab.isSelected ? 'tab-selected' : ''}">
								<div class="form-tab-box" click.delegate="selectOneToManyTab(tab)">
									<span>${tab.name}</span>
								</div>
							</div>
						</div>
						<div id="data-form-one-to-many-tab-content overflow-y-hidden" class="data-form flex-row-1" style="background: darkgray;">
							<compose view-model.bind="currentOneToManyTab.viewModel"></compose>
						</div>
					</div>
				</div>

			</form>
			<!-- after the form -->
			<div class="flex-column-none section-footer">
				<!-- ${footer} -->

				<span>&nbsp;&nbsp;	
					<button class="btn btn-sm btn-danger" click.delegate="saveinventory()">
							Save & Close Inventory
					</button>
					</span>
				<span>&nbsp;&nbsp;	
					<button class="btn btn-sm btn-danger" click.delegate="close()">
							Close
					</button>
					</span>
			</div>
		</div>
	</section>
</template>