<template>
	<require from="aurelia-kendoui-bridge/multiselect/multiselect"></require>
	<require from="../../resources/value-converters/stringify"></require>
	<ux-dialog>
		<ux-dialog-header class="modal-header modal-header-success">
			<div class="alert alert-danger">
				<h1> ${heading}</h1>
			</div>


		</ux-dialog-header>
		<ux-dialog-body>

			<div show.bind="fieldname==='Description'">
				<textarea rows="8" cols="100" id="Description" class="form-control " value.bind="currentItem.Description"></textarea>
			</div>
			<div show.bind="fieldname==='Comment'">
				<textarea rows="8" cols="100" id="Comment" class="form-control " value.bind="currentItem.Comment"></textarea>
			</div>
			<div show.bind="fieldname==='Inscribed'">
				<textarea rows="8" cols="100" id="Inscribed" class="form-control input " value.bind="currentItem.Inscribed"></textarea>
			</div>
			<div show.bind="fieldname==='EditionComment'">
				<textarea rows="8" cols="100" id="EditionComment" class="form-control input " value.bind="currentItem.EditionComment"></textarea>
			</div>

			<div show.bind="fieldname==='Treatment'">
				<textarea rows="8" cols="100" ref="dTreatment" id="dTreatment" class="form-control input-sm" value.bind="currentItem.Treatment"></textarea>
			</div>
			<!-- a -->
			<div show.bind="fieldname==='selectedids'">
				<div class="form-group flex-column-1">
					<h2> ${doc} </h2>
					<table class="table-condensed table">
						<thead class="table-header-blue" data-sort="items.bind: currentItem.docs; cols: ['FILE_NAME','FILE_EXT']">
							<tr>
								<th class="header">Inv </th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td></td>
							</tr>
						</tfoot>
						<tbody>
							<tr repeat.for="doc of appService.selectedids">
								<td>
								</td>
								<td><input type="text" id="InventoryCodes" class="form-control  input-sm" value.bind="doc"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div show.bind="fieldname==='docs'">
				<div class="form-group flex-column-1">
					<a slot="buttons-slot"> <input id="icon_prefix" type="text" value.bind="searchdoc & debounce" class="validate">

					</a>
					</h3>
					<form>
						<table class="table-condensed table">
							<thead class="table-header-blue" data-sort="items.bind: showdocs; cols: ['FILE_NAME','FILE_EXT']">
								<tr>
									<th class="header">FILE_NAME </th>
									<th class="header">FILE_EXT </th>

								</tr>
							</thead>
							<tfoot>
								<tr>
									<td></td>
									<td></td>

								</tr>
							</tfoot>
							<tbody>
								<tr repeat.for="doc of showdocs" with.bind="doc">
									<td>
										<a size='100' class="form-control  input-sm" target="_blank" href="http://adjusters.markadjustment.com/docs/${currentItem.CLAIM_NO}/${doc.FILE_NAME}">
											${FILE_NAME}
										</a>
									</td>
									<td><input type="text" id="FILE_EXT" class="form-control  input-sm" value.bind="FILE_EXT"></td>

								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>

			<div show.bind="fieldname==='SavedList'">
				<div class="form-group flex-column-1">
					<h3> ${doc} </h3>
					<!-- fix-aubs  -->
					<!-- <aubs-typeahead ref='dsaved' data.bind="appService.savedlists" value.bind="name" debounce.bind="350" placeholder="savedlists"
					 open-on-focus.bind="true" key="name" results-limit.bind="22" select-single-result.bind="true">
					</aubs-typeahead> -->
					<h3> ${doc2} </h3>
					<!-- input.delegate="findOptionC = findOptionC($event.target.value)"
					 -->
					<label for="SavedList">SavedList</label>
					<input attach-focus="true" ref="myDatalistSL" type="text" list="myDatalistSL" change.delegate="changeCallbackSL(selectedValueSL)"
					 input.delegate="selectedValueSL = findOptionSL($event.target.value)" />

					<datalist id="myDatalistSL">
						<option repeat.for="option of appService.savedlists">${option.name}</option>
					</datalist>
					<pre style="margin-top: 100px"><code>${selectedValueSL.name}</code></pre>



				</div>

				<div>
					<input ref="addtextref" id="addlist" type="text" class="form-control" placeholder="Enter a New SaveList name" value.bind="addlist">
				</div>

			</div>
			</div>
			<div show.bind="fieldname==='Catalog'">
				<div class="form-group flex-column-1">
					<!-- attach-focus="true" focus.bind="hasFocus" -->
					<div> born: ${ArtistName.yearofBirth } died: ${ArtistName.died} </div> -->

					<label for="Catalog">Catalog</label>
					<input ref="myDatalistC" type="text" list="myDatalistC" change.delegate="changeCallbackCatalog(selectedValue)" input.delegate="findOptionC = findOptionC($event.target.value)"
					/>
					<datalist attach-focus="true" id="myDatalistC">
						<option repeat.for="option of appService.catalogList">${option.CatalogTitle}</option>
					</datalist>
					<pre style="margin-top: 100px"><code>${selectedValueC.CatalogTitle}</code></pre>
				</div>
			</div>
			<div show.bind="fieldname ==='MediumSupportobj'">
				<div class="form-group flex-column-1">
					<label for="medsup">Medium Support</label>
					<input attach-focus="true" ref="myDatalist" type="text" list="myDatalist" change.delegate="changeCallbackMedSup(selectedValue)"
					 input.delegate="selectedValue = findOption($event.target.value)" />
					<datalist id="myDatalist">
						<option repeat.for="option of appService.codesListMediumSupport">${option.Description} </option>
					</datalist>
				</div>
				${selectedValue}
			</div>
			<div show.bind="fieldname==='Artist'">
				<div class="form-group flex-column-1">
					<label for="Artist">${doc}</label>
					<input attach-focus="true" ref="myDatalistA" type="text" list="myDatalistA" change.delegate="changeCallbackArtist(selectedValueA)"
					 input.delegate="selectedValueA = findOptionA($event.target.value)" />
					<datalist id="myDatalistA">
						<option repeat.for="option of appService.artistList">${option.ArtistName}</option>
					</datalist>
				</div>
			</div>
			<div show.bind="fieldbase==='ORG'">
				<div class="form-group flex-column-1">
					<!-- <input attach-focus="true" ref="myDatalistO" type="text" list="myDatalistO" 
       		change.delegate="changeCallbackOrg(selectedValueO)"
					 input.delegate="selectedValueO = findOptionO($event.target.value)" />
					<datalist id="myDatalistO" >
						<option repeat.for="option of appService.orgsList">${option.OrgName} ; ${option.BusIndivid} ; ${option._id}</option>
					</datalist>   -->
					
					<input ref="myDatalistO" type="text" list="myDatalistO" change.delegate="changeCallbackOrg(selectedValueO)" input.delegate="selectedValueO = findOptionO($event.target.value)"
					 attach-focus="true" />
					<datalist id="myDatalistO">
						<option repeat.for="option of appService.orgsList">${option.OrgName} ; ${option.BusIndivid} ; ${option._id}</option>
					</datalist>

				</div>
				<!-- ${selectedValue} /	${selectedValueO} / ${myDatalistO} -->
				<!-- <input value.bind="input" list.bind="listIdVar & attr"> -->

			</div>
			<!-- fix-aubs  -->
			<!-- 	c ref='dorg' data.bind="appService.orgsList" value.bind="OrgName" debounce.bind="350"
               placeholder="${placeholder}"
						 focus.bind="hasFocus"	 open-on-focus.bind="true" key="OrgName" results-limit.bind="22" 
             select-single-result.bind="true">
							</aubs-typeahead> -->

			<!-- <label>
      Select product:<br>
      <select value.bind="selectedProduct">
        <option value="">Choose...</option>
        <option repeat.for="product of products"
                value.bind="product">
          ${product}
        </option>
      </select>
    </label> -->
			<!-- Selected product: ${selectedProduct} -->

			<!-- <label>
      Select product:<br>
      <select value.bind="selectedProduct">
        <option model.bind="null">Choose...</option>
        <option repeat.for="product of products"
                model.bind="product">
          ${product.id} - ${product.name}
        </option>
      </select>
    </label>
     Selected product: ${selectedProduct.id} - ${selectedProduct.name} -->

			<!-- <label>

            <select value.bind="selectedOrg" class="form-control  input-sm">
            <option model.bind="null">Choose...</option>
            <option repeat.for="org of appService.orgsList"
            model.bind="org">
            ${org.OrgName}
            </option>
            </select>
            </label>
            <br> Selected org: ${selectedOrg._id} - ${selectedOrg.OrgName} -->






			<hr>
		</ux-dialog-body>

		<ux-dialog-footer>

			<button show.bind="addlist" click.trigger="addit()">Add New Saved List</button>
			<button click.trigger="controller.cancel()">Cancel and Close </button>
			<button click.trigger="save()">Save and Close </button>

		</ux-dialog-footer>
	</ux-dialog>
</template>