	<!-- dupe -->
						<div class="flex-row-none">
							<div class="col-md-8">
								<table class="table">
									<thead>
										<tr>
											<th>
												#
											</th>
											<th>
												Height
											</th>
											<th>
												/
											</th>
											<th>
												Width
											</th>
											<th>
												/
											</th>
											<th>
												Depth
											</th>
											<th>
												/
											</th>
										</tr>
									</thead>
									<tbody>
										<tr class="warning">
											<td>
												Unframed
											</td>
											<td>
												<input type="number" id="UnframedHeight" class="form-control input-sm" value.bind="currentItem.UnframedHeight">
											</td>
											<td>
												<select value.bind="currentItem.UnframedHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>

											</td>
											<td>
												<input type="number" id="UnframedWidth" class="form-control input-sm" value.bind="currentItem.UnframedWidth">

											</td>
											<td>
												<select value.bind="currentItem.UnframedWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>

											</td>
											<td>
												<input type="number" id="UnframedDepth" class="form-control input-sm" value.bind="currentItem.UnframedDepth">
											</td>
											<td>

												<select value.bind="currentItem.UnframedDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>


										</tr>

										<tr class="success">
											<td>
												Sight
											</td>
											<td>
												<input type="number" id="sightHeight" class="form-control input-sm" value.bind="currentItem.sightHeight">
											</td>
											<td>
												<select value.bind="currentItem.sightHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>

											</td>
											<td>
												<input type="number" id="sightWidth" class="form-control input-sm" value.bind="currentItem.sightWidth">

											</td>
											<td>
												<select value.bind="currentItem.sightWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>

											</td>
											<td>
												<input type="number" id="sightDepth" class="form-control input-sm" value.bind="currentItem.sightDepth">
											</td>
											<td>

												<select value.bind="currentItem.sightDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>

										</tr>
										<tr class="danger">
											<td>
												Image
											</td>
											<td>
												<input type="number" id="imageHeight" class="form-control input-sm" value.bind="currentItem.imageHeight">
											</td>
											<td>

												<select value.bind="currentItem.imageHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>
											<td>
												<input type="number" id="imageWidth" class="form-control input-sm" value.bind="currentItem.imageWidth">
											</td>
											<td>

												<select value.bind="currentItem.imageWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>
											<td>
												<input type="number" id="imageDepth" class="form-control input-sm" value.bind="currentItem.imageDepth">
											</td>
											<td>

												<select value.bind="currentItem.imageDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>



										</tr>
										<tr class="warning">
											<td>
												Framed
											</td>
											<td>
												<input type="number" id="framedHeight" class="form-control input-sm" value.bind="currentItem.framedHeight">
											</td>
											<td>
												<select value.bind="currentItem.framedHeight16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>
											<td>
												<input type="number" id="framedWidth" class="form-control input-sm" value.bind="currentItem.framedWidth">

											</td>
											<td>
												<select value.bind="currentItem.framedWidth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>
											<td>
												<input type="number" id="framedDepth" class="form-control input-sm" value.bind="currentItem.framedDepth">
											</td>
											<td>
												<select value.bind="currentItem.framedDepth16">
                          <option model.bind="null">Choose...</option>
                          <option repeat.for="measure of measures"
                                  model.bind="measure.id">
                            ${measure.name}
                          </option>
                        </select>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- dupe end -->